/*
    Individual tags
*/
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    
    font-family: 'PT Sans', sans-serif;
}

/*
    Class Tags
*/
.nav{
    padding: 0;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 40px;
    
}

.nav-list{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;

}

.nav-list-item{
    height: 100%;
    flex-grow: 1;
    text-align: end;
    padding-right: 0;
}

.banner-container{
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.about-banner{
    display: flex;
    justify-content: center;
}

.about-banner-picture{
    width: 50%;
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;

    margin-top: 5%;
    
    border: 1px solid red;
}

/*
    Id Tags
*/




/*
    Children and Relational Tags
*/
li > a {
    text-decoration: none;
    color: white;
    padding-right: 20%;
    font-size: 1.5em;
}
