/*
    Individual tags
*/
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    
    font-family: 'PT Sans', sans-serif;
}

/*
    Class Tags
*/
.nav{
    padding: 0;
    background-color: green;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    height: 40px;
    
}

.nav-list{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;

}

.nav-list-item{
    height: 100%;
    flex-grow: 1;
    text-align: end;
    padding-right: 0;
}

.banner-container{
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-text{
    position: relative;
    font-size: 2em;
    margin-right: 10%;
    font-weight: bolder;
    color: #000000;
    text-shadow: 3px 3px 10px #7a7a7a;
}

.about-banner{
    display: flex;
    justify-content: center;
}

.about-banner-picture{
    width: 50%;
    background-image: url("../assets/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;

    margin-top: 5%;
    
    border: 1px solid red;
}

.about-career{
    display: flex;
    justify-content: center;
}

.about-career-container{
    width: 80%;
    border: 1px solid red;
}

/*
    Id Tags
*/

#home-banner-hussain{
    color: #f93136 ;
}

#about-career-text{
    position: relative;
    text-align: justify;

}


/*
    Children and Relational Tags
*/
li > a {
    text-decoration: none;
    color: white;
    padding-right: 20%;
    font-size: 1.5em;
}


@media only screen and (max-width: 768px){


    .about-banner-picture{
        width: 100%;
    }
}